<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Car Dealz</title>
</head>
<body>
    <div class="container col-9 mx-auto mt-2">
        <div class="d-flex justify-content-between align-items-center py-2 px-5">
            <h2>Edit {{edit.model}}</h2>
            <div>
                <a href="/dashboard" class="btn btn-primary btn-lg">Dashboard</a>
                <a href="/logout" class="btn btn-danger btn-lg">Logout</a>
            </div>
        </div>
        <form action="/update" method="post" class="col-11 p-4 my-4 bg-light mx-auto">
            {% with messages = get_flashed_messages(category_filter=['car']) %}
                {% if messages %}
                    <div class="alert alert-danger" role="alert">
                        {% for message in messages %}
                        <p>{{message}}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            
            <div class="d-flex justify-content-between col-12">
                <div class="col-4">
                    <input type="hidden" name="id" value="{{edit.id}}">
                    <div class="form-group">
                        <label for="price">Price:</label>
                        <input type="number" name="price" class="form-control" value="{{edit.price}}">
                    </div>
                    <div class="form-group">
                        <label for="model">Model:</label>
                        <input type="text" name="model" class="form-control" value="{{edit.model}}">
                    </div>
                    <div class="form-group">
                        <label for="make">Make:</label>
                        <input type="text" name="make" class="form-control" value="{{edit.make}}">
                    </div>
                    <div class="form-group">
                        <label for="year">Year:</label>
                        <input type="number" name="year" class="form-control" value="{{edit.year}}">
                    </div>
                    <div class="form-group">
                        <label for="description">Description:</label>
                        <textarea name="description"  cols="80" rows="5" class="form-control">{{edit.description}}</textarea>
                    </div>
                    <input type="submit" value="Update" class="btn btn-primary">
                </div>
            </div>
        </form>
    </div>
</body>
</html>